
@{
    ViewBag.Title = "Index";
}

<div class="content">

    <h1>
        The Stopping Power Data System
    </h1>
    

    <table class="DataTable">
        <caption>Eksperiment Data</caption>
        <tr id="tHead">
            <td>Scentist: &nbsp;</td>
            <td>Eksperiment:&nbsp;</td>
            <td>Institution:&nbsp;</td>
            <td>Date:&nbsp;</td>
            <td>Year:&nbsp;</td>
        </tr>
        <tr>
            <td>Victor Nielsen</td>
            <td>4. Semesterprojekt</td>
            <td>IHA</td>
            <td>09 September</td>
            <td>2015</td>
        </tr>
        <tr>
            <td>Lasse Fisker Nielsen</td>
            <td>Styling of navigationsbar</td>
            <td>IHA</td>
            <td>09 September</td>
            <td>2015</td>
        </tr>
    </table>
</div>

