input, button, .createTxt, .createLink {
          font-family: Century Gothic, sans-serif;
}


.login {
    
    padding-top: 15px;
    width: 400px;
    min-height: 400px;
    margin: auto;
}


 .login .heading {
        text-align: center;
        margin-top: 1%;
    }

.login form .createTxt {
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 1.3em;
    color: rgba(0,0,0,.5);
}

.login form .createLink a {
    display: inline;
    text-decoration: none;
    font-weight: bold;
    color: rgba(50,50,50,.8);

}

.login form .createLink:hover a {
    color: rgba(0,0,0,1);
    text-decoration: underline;
}

.login .inputStyle {
    border-bottom: 1px solid rgba(0,0,0,.2);
    border-top: 1px solid rgba(0,0,0,.2);
    border-left: none;
    border-right: none;
    display: block;
    margin: 15px auto 15px auto;
    width: 400px;

    font-size: 1.2em;
    background: transparent;
    font-family: Century Gothic, sans-serif;


}

.login .inputStyle:focus {
    border-bottom: 1px solid rgba(0,0,0,.8);
    border-top: 1px solid rgba(0,0,0,.8);
    border-left: none;
    border-right: none;
    
}
.login input:focus {
    outline: none;   
}

.login form .submitBtn {
    border: none;
    background:         linear-gradient(270deg, #232526 10%, #414345 90%); /* W3C */
    font-family: Gothic, sans-serif;
    color: rgba(240,240,240,.8);
    font-size: 1em;

    display: block;
    margin: 45px auto 10px auto;
    border: none;
    padding: 5px 0;
    width: 190px;
    border-radius: 3px;

    /*button shadow*/

    -webkit-box-shadow: 2px 7px 6px -6px rgba(0,0,0,.6);
	-moz-box-shadow: 2px 7px 6px -6px rgba(0,0,0,.6);
	box-shadow: 2px 7px 6px -6px rgba(0,0,0,.6);
}

.login form .forgotBtn {
    border: none;
    background:         linear-gradient(270deg,#414345  10%,  #232526 90%); /* W3C */
    font-family: Gothic, sans-serif;
    color: rgba(240,240,240,.8);
    font-size: 1em;

    display: block;
    margin: 5px auto 20px auto;

    border: none;
    padding: 5px 0;
    width: 190px;
    border-radius: 3px;

    /*button shadow*/

    -webkit-box-shadow: 2px 7px 6px -6px rgba(0,0,0,.6);
	-moz-box-shadow: 2px 7px 6px -6px rgba(0,0,0,.6);
	box-shadow: 2px 7px 6px -6px rgba(0,0,0,.6);
}

.login form .forgotBtn a {
    font-family: Gothic, sans-serif;
    color: rgba(240,240,240,.8);
    font-size: 1em;
    text-decoration: none;
}

.login form .submitbtn:hover {
    opacity: .7;
    transition: opacity 100ms linear;
 
}



