.NavWrap {
    width: 100%; /* Spans the width of the page */
	height: 50px; 
	margin: 0; /* Ensures there is no space between sides of the screen and the menu */
	position: relative;
    background: url(footer_lodyas.png);
    	
    -webkit-box-shadow: 0 8px 6px -6px rgba(0,0,0,.4);
	-moz-box-shadow: 0 8px 6px -6px rgba(0,0,0,.4);
	box-shadow: 0 8px 6px -6px rgba(0,0,0,.4);
    
}

.navbar {
    height: 50px;
    padding: 0;
    margin: 0;
    position: absolute; /*drop down doesn't interfer with other elements'*/
}

    .navbar li {
        height: auto;
        width: 150px;
        float: left;
        text-align: center;
        list-style: none;
        font: normal bold 12px Arial, verdana, helvetica;
        padding: 0;
        margin: 0;
        background: url(footer_lodyas.png);
    }

    .navbar a {
        padding: 18px 0;
        text-decoration: none;
        color: #FFFFFF;
        display: block;
    }

    .navbar li:hover a:hover{
        background-color: #a9a9a9;
        background-color: rgba(255,255,255,.5);
    }

    .navbar li ul {
        height: 0;
        margin: 0;
        padding: 0;
    }

    .navbar li ul li {
        background: url(footer_lodyas.png);
        height: 0;
        opacity: 0;
       
       /* -webkit-box-shadow: 4px 0 6px -6px rgba(0,0,0,.4);
	    -moz-box-shadow: 4px 0 6px -6px rgba(0,0,0,.4);
	    box-shadow: 4px 0 6px -6px rgba(0,0,0,.4);*/

        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition:all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;


    }

    .navbar li:hover ul li {
        height: 50px;
        opacity: 1;
        
    }

    .navbar li ul li a {
        /*border-bottom: 1px solid #FFFFFF;*/
    }

    .navbar li ul li a:hover {
        background-color: #a9a9a9;
        background-color: rgba(255, 255, 255, .5);
    }



















/*nav {
    width: 80vh;
    height: auto;
    background: url(footer_lodyas.png);
    -webkit-box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    -moz-box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);   
}







nav { 
    margin: 0;
    padding: 0;
    height: auto;
    width: 80vw;
}



nav  h4{
    font-family: Helvetica, Arial, "Lucida Grande", sans-serif;
    color: #ffffff;
    background: url(footer_lodyas.png);
    font-size: 15px;
    font-weight: 500;
    padding: 5px 5px 5px 5px;
    width: 100%;
    
       
}

nav h5 {
    font-family: Helvetica, Arial, "Lucida Grande", sans-serif;
    color: #ffffff;
    background: url(footer_lodyas.png);
    font-size: 15px;
    font-weight: 500;
    padding: 5px 5px 5px 5px;
    width: 200px;
    float: right;
    
}

nav .fill {
    background: url(footer_lodyas.png);
    width: auto;
}

nav h4 a {
    color: #FFFFFF;
    display: block;
    text-decoration: none;
    width: 200px;
}

nav h4:hover {
    background: #000080;
}

nav ul {
    background: #FFFFFF;
    font-size: 13px;
    line-height: 30px;
    list-style-type: none;
    overflow: hidden;
    padding: 0;
    height: 0; /*collapse*/

    /*animate opening
      -webkit-transition: height 1s ease;
     -moz-transition: height 1s ease;
       -o-transition: height 1s ease;
      -ms-transition: height 1s ease;
          transition: height 1s ease;

}
    
nav ul a {
    margin-left: 20px;
    text-decoration: none;
    color: #aaaaaa;
    display: block;
    width: 200px;
}

nav li {
    border-bottom: 1px solid #eeeeee;
}

nav li:hover {
    background: #eeeeee;
}

nav:hover ul {
    height: 93px;
}*/