
@{
    ViewBag.Title = "About";
}

<div class="content">
    <h1>About the Project</h1>

    <div class="mainFill">
        Institut for Fysik og Astronomi på Aarhus Universitet, IFA, arbejder med at undersøge
        nedbremsningsevnen af hurtige ioner i forskellige materialer, også kaldt Stopping Power.
        Hurtige ioner er atomer accelereret og til 2/3 af lystest hastighed eller mere for så at blive strippet for/få
        tilføjet en eller flere elektroner. Dette er en vigtig disciplin i beregning af strålebeskyttelse af
        Astronauter, og indgår i forskning på en lang række acceleratorbaserede eksperimenter, fx. på det
        fælleseuropæiske forskningscenter CERN, og det tilsvarende amerikanske SLAC. I forbindelse med at
        Det Ny Universitetshospital (DNU) skal der etableres et partikelterapicenter ved Skejby,og i den
        forbindelse har den lokale IFA forskergruppe i partikelterapi efterspurgt en fælles platform, som kan
        levere beregningsdata til brug her.

        
    </div>
</div>

