
@{
    ViewBag.Title = "Review_Data";
}

<div class="content">
    <h1>REVIEW DATA</h1>

    <div class="mainFill">Here you are able to approve or reject submitted data before it is considered valid</div>

    <link rel="stylesheet" type="text/css" href="~/Content/reviewstyle.css">
    <script type="text/javascript" src="~/Scripts/reviewJS.js"></script>

 
    <table class="reviewTable"cellspacing='0'>
        <tr><th>Datatype</th><th>Author</th><th>Action</th></tr>
        <script>
            createCol('He -> Li','Kasper');
            createCol('He -> O','David');
            createCol('H -> Li','Rasmus');
            createCol('Li -> Ar','Kristian');
        </script>


    </table>
        <
</div>

