
@{
    ViewBag.Title = "Review_Data";
}

<div class="content">
    <h1>REVIEW DATA</h1>

    <div class="mainFill">Here you are able to reveiw submitted data before it is finally added to the database</div>
</div>

