
@{
    ViewBag.Title = "View_Data";
}

<div class="content">
    <h1>VIEW DATA</h1>

    <div class="mainFill">Here you are able to view the collected data present in the database

        <div id="chartcontainer" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
    </div>
    <script>
        var uri = 'api/format/twoddataarray';

        $(document).ready(function () {
            $.getJSON(uri)
                .done(function (data) {

                    var graph = new graph();

                    graph.drawGraph(data, '#chartcontainer');
                });
        });
    </script>
</div>